:root {
  --primary-background-color:#edf4fa;
  --primary-color: #5296d5;
  
  --action-label-color: #fff;
  --action-contstructive-color: #96d552;
  --action-destructive-color: #d55254;

  --icon-active-color: #101e2a;
  --icon-disabled-color: #DCEAF6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
